

PORT=5001
MONGO_URI=mongodb+srv://derricko271:<derrick>@cluster0.megyc.mongodb.net/?appName=Cluster0
JWT_SECRET=YztN3kBhhTatKtcsG59vnx4JjoKmh1SD542qqMiW7FA
FRONTEND_URL=https://your-app.netlify.app
