PORT=5001
MONGO_URI=mongodb://derricko271:derrick@cluster0-shard-00-00.megyc.mongodb.net:27017,cluster0-shard-00-01.megyc.mongodb.net:27017,cluster0-shard-00-02.megyc.mongodb.net:27017/cryptoapp?ssl=true&replicaSet=atlas-t567qd-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret-string
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
